<form>
  <label for="feed_title">Title</label>
  <input type="text" name="feed[title]" id="feed_title">

  <label for="feed_url">Url</label>
  <input type="text" name="feed[url]" id="feed_url">

  <input type="submit">
</form>
