
<h3><%= feed.escape("title") %> Feed</h3>

<button class="refresh">Refresh</button>
<ul>
  <% _.each(feed.entries().models, function (entry) { %>
    <li><%= entry.escape("title") %></li>
  <% })%>



</ul>
